# ignore all files created during compilation
*.[oa]
*.class
*.exe
*.out

#ignore all files in build subdirtory
build/

#ignore all temp files
*~
#*#

#ignore all files created by visual studio
*.vcxproj*
Debug/
*.sln
*.suo
